$prefix: 'cookNTrack';

##{$prefix}, ##{$prefix}_preferences {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 0.75rem 1rem;
	background: #ffffff;
	color: #000000;
	z-index: 99999;
	font-size: 0.9rem;
	
	a {
		color: inherit;
		text-decoration: underline;
		
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
	
	.#{$prefix}_buttons {
		margin: 0.55rem -0.2rem -0.2rem;
		
		button {
			margin: 0.2rem;
			font-size: 1em;
			border: 0.1rem solid #aaaaaa;
			color: #999999;
			background: #ffffff;
			padding: 0.5rem 0.75rem;
			cursor: pointer;
			outline: none;
			transition: color 0.1s linear, background 0.1s linear, border-color 0.1s linear;
			
			&:hover, &:active, &:focus {
				color: #ffffff;
				background: #333333;
				border-color: #333333;
			}
			
			&.#{$prefix}_button_close, &.#{$prefix}_button_enable {
				color: #ffffff;
				background: #555555;
				border-color: #555555;
				
				&:hover, &:active, &:focus {
					color: #ffffff;
					background: #333333;
					border-color: #333333;
				}
			}
		}
	}
}

##{$prefix} {
	padding: 0.75rem 1rem;
	
	@media (min-width: 600px) {
		display: flex;
		align-items: center;
		
		.#{$prefix}_message {
			flex: 1;
		}
		
		.#{$prefix}_buttons {
			margin: 0 -0.2rem 0 2rem;
		}
	}
}

##{$prefix}_preferences {
	padding: 1.5rem 1rem;
	
	.#{$prefix}_preferences_title {
		font-weight: bold;
		font-size: 1.2em;
		margin-bottom: 1rem;
	}
	
	.#{$prefix}_preferences_list {
		.#{$prefix}_service {
			margin: 1rem 0;
			
			.#{$prefix}_service_title {
				font-weight: bold;
			}
			.#{$prefix}_service_checkbox {
				input[readonly] {
					pointer-events: none;
					cursor: default;
					opacity: 0.5;
				}
			}
			
			@media (min-width: 600px) {
				position: relative;
				padding-right: 3rem;
				
				.#{$prefix}_service_checkbox {
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
				}
			}
		}
	}
}